$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

$color-darker: #E7E7E7;

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: $color-darker;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

$form-background: #FFF;
$form-input-background: #F4F4F4;

@each $input-type in text, password, email {
  input[type=#{$input-type}] {
    @include border-radius(4px, 4px);
    @include transition(border-color 0.4s);

    background: $form-input-background;
    border: 1px solid $form-input-background;
    width: 100%;
    margin-bottom: 0.8em;
    padding: 0.8em;
    text-align: center;
    outline: none;

    &:hover {
      border-color: #70D572;
    }
  }
}

$btn-colors-1: (
  submit: #70D572,
  cancel: #DD4B39
);

$btn-colors-2: (
  submit: #60BA62,
  cancel: #B93E2E
);

@each $button-type in submit, cancel {
  .btn-#{$button-type} {
    background: map-get($btn-colors-1, $button-type);
    color: #FFF;
    text-align: center;
    min-width: 100px;
    padding: 0.8em;
    border: 1px solid map-get($btn-colors-1, $button-type);
    @include border-radius(4px, 4px);
    border-bottom: 3px solid map-get($btn-colors-2, $button-type);
    @include transition(0.5s all);
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid map-get($btn-colors-2, $button-type);
      border-bottom: 3px solid map-get($btn-colors-1, $button-type);
    }
  }
}

$large-screen-min: 768px;

.container {

  width: 100% !important;

  &.darker {
    background-color: $color-darker;
  }
}

.wrap {
  width: 75%;
  margin: 0 auto;

  @media (max-width: $large-screen-min) {
    width: 100%;
  }

}

.thumbnail {
  &.darker {
    background-color: $color-darker;
    border: none !important;
  }
}
