<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
  <!-- endbuild -->
</head>
<body ng-app="conduireSmartApp">

<!-- Add your site or application content here -->
<div class="container darker" ng-controller="AppCtrl">
  <div class="wrap">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Accueil</a></li>
        <li><a ng-href="#/driver">Driver</a></li>
        <li><a ng-href="#/instructor">Instructor</a></li>
        <li><a ng-href="#/manager">Manager</a></li>
        <li>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal">
            Se connecter
          </button>
        </li>
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                  class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Se connecter</h4>
              </div>
              <form class="form-horizontal" ng-submit="sendLoginForm(credentials)">
              <div class="modal-body">

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="adresse@mail.com"
                             ng-model="credentials.mail">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Mot de passe</label>

                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Mot de passe"
                             ng-model="credentials.pwd">
                    </div>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default">Effacer</button>
                <button type="submit" class="btn btn-primary">Connexion</button>

              </div>
              </form>
            </div>
          </div>
        </div>
      </ul>
      <h3 class="text-muted">Conduire smart</h3>
    </div>
  </div>
</div>

<div ng-view=""></div>

<div class="container">
  <div class="wrap">
    <div class="footer">
      <p><span class="glyphicon glyphicon-copyright-mark"></span> LWA Company all rights reserved.</p>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/authentication.js"></script>
<script src="scripts/constants/roles.js"></script>
<script src="scripts/constants/credentials.js"></script>
<script src="scripts/constants/main.js"></script>
<script src="scripts/controllers/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/driver.js"></script>
<script src="scripts/controllers/instructor.js"></script>
<script src="scripts/controllers/manager.js"></script>

<!-- endbuild -->
</body>
</html>
