<div class="container lighter background-pattern-squares">
  <div class="wrap">
    <div ng-model="message" ng-show="showMessage" class="message fadein fadeout">{{message}}</div>
    <div class="jumbotron">
      <h1>Conduire Smart</h1>

      <h2>The world's best app for</h2>

      <h2>{{fadeText}}</h2>

    </div>
  </div>
</div>
<div class="container">
  <div class="wrap">

    <h1>{{product.title}}</h1>

    <h3>{{product.subtitle}}</h3>

    <div ng-repeat="elem in product.thumbnails" class="col-sm-6 col-md-{{12 / product.thumbnails.length}}">
      <div class="thumbnail">
        <img src="images/yeoman.png">

        <div class="caption">
          <h3>{{elem.title}}</h3>

          <p class="text-justify">{{elem.text}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container lighter">
  <div class="wrap">

    <h1>{{company.title}}</h1>

    <h3>{{company.subtitle}}</h3>

    <div ng-repeat="elem in company.thumbnails" class="col-sm-6 col-md-{{12 / company.thumbnails.length}}">
      <div class="thumbnail lighter">
        <p class="text-center">
          <i class="fa {{elem.image}} fa-5x"></i>
        </p>

        <div class="caption">
          <h3>{{elem.title}}</h3>

          <p class="text-justify">{{elem.text}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
